<div class="autocomplete container mt-5 text-center">
  <div class="chips-input-container">
    <div class="user-chip mb-1" *ngFor="let user of userSelects">
      {{ user.name }}
      <span (click)="deleteSelects(user)" class="delete-icon-chip"
        >&#10006;</span
      >
    </div>

    <button class="btn btn-success" (click)="suggest()">
      Agregar categoria
    </button>
  </div>

  <div class="autocomplete-items" *ngIf="show">
    <div
      *ngFor="let s of suggestions"
      [ngClass]="isSelected(s) ? 'selected-suggestion' : ''"
      (click)="selectSuggestion(s)"
    >
      {{ s.name }}
    </div>
  </div>
</div>
