.autocomplete {
  position: relative;
  width: 100%;
}

.autocomplete-items {
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  margin-top: 15px;
  top: 100%;
  left: 0;
  right: 50%;
}

.selected-suggestion {
  background-color: rgb(0, 90, 30) !important;
  color: white;
}

.autocomplete-items div {
  padding: 4px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d41a;
}

.autocomplete-items div:hover {
  background-color: #97ff807a;
}

.user-chip {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(222, 255, 202);
}

.delete-icon-chip {
  color: rgb(255, 255, 255);
  opacity: 0.7;
  cursor: pointer;
  float: right;
  position: relative;
  font-size: 12px;
}

.delete-icon-chip:hover {
  opacity: 1;
}
